@import "tailwindcss";

@font-face {
    font-family: dt;
    src: url(../../public/font/DTGetaiGroteskDisplay-Black.ttf);
}

@font-face {
    font-family: hermione;
    src: url(../../public/font/Hermionefree.ttf);
}

@font-face {
    font-family: ligema;
    src: url(../../public/font/Ligema\ DEMO.otf);
}

@font-face {
    font-family: blockat;
    src: url(../../public/font/Blockat\ DEMO.otf);
}

@font-face {
    font-family: corpta;
    src: url(../../public/font/Corpta\ DEMO.otf
    );
}

:root{
    --bg: #e5e7eb;
    --numbertext: #A6A6A6;
    --eyesbg: #819A91;
    --eyestext: #EEEFE0;
    --elemColor: rgb(211, 253, 80);
}